*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/compiler.xml
/.idea/copyright
/.idea/gradle.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
.DS_Store
/build
/captures
.coveralls.yml